.vote {
  background-color: #343a40;
  border-color: #343a40;
  padding: 0;
  text-align: center;
}

.vote-count {
  margin: 0;
}

.delete {
  width: 7rem;
  height: 1.5rem;
  padding: 0;
}

.article-list-auther {
  color: #689f38;
  font-size: 15px;
}

h6 {
  font-size: 0.9rem;
}
