.vote {
  background-color: #343a40;
  border-color: #343a40;
  padding: 0;
  text-align: center;
}

.vote-count {
  margin: 0;
}

.delete {
  width: 7rem;
  height: 1.5rem;
  padding: 0;
}

.article-list-auther {
  color: blue;
}
